@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap");
.poppins-regular, header nav .link a, header nav .login, header nav .login a, #clients section .header, #invoices section .header, #clients section table, #invoices section table, #clients section table .noinvoices, #invoices section table .noinvoices, #clients section table thead, #invoices section table thead, #clients section table tbody tr .noClients, #invoices section table tbody tr .noClients, #clients-show section .wrap .header, #invoices-show section .wrap .header, #clients-show section .wrap .content, #invoices-show section .wrap .content, #clients-admin section .form .header, #invoices-admin section .form .header, #home section .services {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; }

.poppins-medium, header nav .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal; }

.poppins-semibold, #clients-show section .wrap .content label, #invoices-show section .wrap .content label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal; }

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal; }

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, div, article, section, main, aside, nav, header, footer, address, blockquote, figure, figcaption, h1, h2, h3, h4, h5, h6, p, pre, ul, ol, li, dl, dt, dd, table, caption, tbody, thead, tfoot, tr, th, td, fieldset, legend, form, button, input, textarea, select, optgroup, option {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  line-height: 1;
  font-family: sans-serif; }

ul, ol {
  list-style: none; }

img, video {
  display: block;
  max-width: 100%;
  height: auto; }

button, input, select, textarea {
  background-color: transparent;
  border-radius: 0;
  outline: 0; }
  button:focus, input:focus, select:focus, textarea:focus {
    outline: none; }

button, input[type="button"], input[type="reset"], input[type="submit"], input[type="number"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input[type="password"], input[type="checkbox"], input[type="radio"], select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus {
    text-decoration: underline; }

pre {
  white-space: pre-wrap; }

template {
  display: none; }

[hidden] {
  display: none !important; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.btn, .button-custom, .button-blue {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer; }
  .btn a, .button-custom a, .button-blue a {
    display: inline-block;
    text-decoration: none; }

.button-custom {
  background-color: #972222;
  color: #ffffff;
  border-color: #972222; }
  .button-custom:hover {
    background-color: #7a1f1f;
    border-color: #7a1f1f;
    color: #ffffff; }
  .button-custom:active {
    background-color: #641c1c;
    border-color: #641c1c;
    color: #ffffff; }
  .button-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(151, 34, 34, 0.5); }

.button-blue {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff; }
  .button-blue:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #ffffff; }
  .button-blue:active {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #ffffff; }
  .button-blue:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    /* Effet de focus pour bouton désactivé */ }

.alert-static {
  position: relative !important;
  animation: none !important;
  left: 0; }

.alert.alert-primary {
  background-color: #cce5ff;
  color: #004085;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-primary .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }
.alert.alert-secondary {
  background-color: #e2e3e5;
  color: #383d41;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-secondary .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }
.alert.alert-success {
  background-color: #d4edda;
  color: #155724;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-success .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }
.alert.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-danger .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }
.alert.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-warning .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }
.alert.alert-info {
  background-color: #d1ecf1;
  color: #0c5460;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-info .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }
.alert.alert-light {
  background-color: #fefefe;
  color: #818182;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-light .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }
.alert.alert-dark {
  background-color: #d6d8d9;
  color: #1b1e21;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: absolute;
  top: 20px;
  left: 20px;
  animation: slideAlert 3s forwards; }
  .alert.alert-dark .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background-color: transparent;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer; }

@keyframes slideAlert {
  0% {
    left: -300px; }
  50% {
    left: 20px; }
  60% {
    left: 20px; }
  100% {
    left: -300px; } }
header {
  width: 100%;
  height: 40px; }
  header nav {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #972222;
    border-bottom: 2px solid #000; }
    header nav .title {
      width: 20%;
      padding: 0px 5px;
      color: #fff;
      display: flex;
      flex-direction: row;
      border-right: 1px solid #720909; }
      header nav .title svg {
        margin-right: 5px;
        width: 20px;
        height: 20px; }
      header nav .title h2 {
        font-size: 1.2REM; }
    header nav .link {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 1px solid #720909; }
      header nav .link a {
        height: 100%;
        color: #fff;
        text-decoration: none;
        padding: 0px 15px;
        border-left: 1px solid #9a4c4c;
        border-right: 1px solid #720909;
        display: inline-flex;
        align-items: center;
        transition: background-color 0.5s; }
        header nav .link a:hover {
          background-color: #7a1f1f;
          transition: background-color 0.5s; }
    header nav .login {
      color: #fff;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 10%;
      height: 100%;
      border-left: 1px solid #9a4c4c; }
      header nav .login::first-letter {
        text-transform: uppercase; }
      header nav .login a {
        height: 100%;
        width: 100%;
        color: #fff;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.5s;
        text-align: center; }
        header nav .login a:hover {
          background-color: #7a1f1f;
          transition: background-color 0.5s; }

#clients, #invoices, #clients-show, #invoices-show, #clients-admin, #invoices-admin, #home {
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: row; }

#clients, #invoices {
  min-height: 600px !important;
  display: flex;
  align-items: baseline; }
  #clients section, #invoices section {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #clients section .tools, #invoices section .tools {
      width: 100%;
      display: flex;
      justify-content: end;
      padding: 15px 5px; }
    #clients section .header, #invoices section .header {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0px 15px;
      font-size: 1.8rem;
      border: 1px solid #ddd;
      background-color: #f4f4f4;
      margin-bottom: 25px; }
    #clients section table, #invoices section table {
      width: 100%;
      border-collapse: collapse;
      font-size: 0.8rem; }
      #clients section table .noinvoices, #invoices section table .noinvoices {
        font-size: 1rem;
        text-align: center; }
      #clients section table th, #invoices section table th,
      #clients section table td,
      #invoices section table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        vertical-align: middle; }
        #clients section table th svg, #invoices section table th svg,
        #clients section table td svg,
        #invoices section table td svg {
          cursor: pointer; }
      #clients section table thead, #invoices section table thead {
        background-color: #f4f4f4;
        font-size: 0.9rem;
        text-align: center; }
      #clients section table tbody tr .noClients, #invoices section table tbody tr .noClients {
        text-align: center;
        font-size: 0.8rem; }
      #clients section table tbody tr:nth-child(even), #invoices section table tbody tr:nth-child(even) {
        background-color: #f4f4f4; }
      #clients section table tbody tr:hover, #invoices section table tbody tr:hover {
        background-color: #bbb; }
      #clients section table th, #invoices section table th {
        background-color: #f4f4f4; }

#clients-show, #invoices-show {
  min-height: 600px !important;
  display: flex;
  align-items: baseline; }
  #clients-show section, #invoices-show section {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; }
    #clients-show section .wrap, #invoices-show section .wrap {
      width: 50%; }
      #clients-show section .wrap .header, #invoices-show section .wrap .header {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0px 15px;
        font-size: 1.8rem;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        margin-bottom: 25px; }
      #clients-show section .wrap .content, #invoices-show section .wrap .content {
        font-size: 1rem;
        line-height: 1.5rem;
        display: flex;
        justify-content: center; }
        #clients-show section .wrap .content label, #invoices-show section .wrap .content label {
          font-size: 1.05rem;
          float: left;
          padding-right: 5px; }
        #clients-show section .wrap .content ul, #invoices-show section .wrap .content ul {
          width: 100%;
          text-align: right;
          padding: 0px 20px; }
          #clients-show section .wrap .content ul li, #invoices-show section .wrap .content ul li {
            line-height: 2rem; }
            #clients-show section .wrap .content ul li:nth-child(even), #invoices-show section .wrap .content ul li:nth-child(even) {
              background-color: #f4f4f4; }
          #clients-show section .wrap .content ul .description, #invoices-show section .wrap .content ul .description {
            text-align: left; }
      #clients-show section .wrap .button, #invoices-show section .wrap .button {
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        gap: 20px; }
        #clients-show section .wrap .button button, #invoices-show section .wrap .button button {
          width: 50% !important; }

#clients-admin, #invoices-admin {
  min-height: 600px !important;
  display: flex;
  align-items: center; }
  #clients-admin section, #invoices-admin section {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #clients-admin section .form, #invoices-admin section .form {
      width: 60%;
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #clients-admin section .form .header, #invoices-admin section .form .header {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0px 15px;
        font-size: 1.8rem;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        margin-bottom: 25px;
        margin-top: 25px; }
      #clients-admin section .form .container, #invoices-admin section .form .container {
        background-color: #f8f9fa;
        padding: 2rem;
        border-radius: .25rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
      #clients-admin section .form h2, #invoices-admin section .form h2 {
        margin-bottom: 1rem; }
      #clients-admin section .form form, #invoices-admin section .form form {
        width: 90%;
        margin: 0 auto; }
        #clients-admin section .form form .form-textarea, #invoices-admin section .form form .form-textarea {
          height: 150px !important; }
        #clients-admin section .form form .form-select, #invoices-admin section .form form .form-select {
          width: 100%;
          height: 35px;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          padding: 5px 15px; }
          #clients-admin section .form form .form-select:focus, #invoices-admin section .form form .form-select:focus {
            border-color: #7a1f1f;
            background-color: #e9ecef;
            box-shadow: 0 0 0.2rem rgba(38, 143, 255, 0.25); }
        #clients-admin section .form form .form-control, #invoices-admin section .form form .form-control {
          width: 100%;
          height: 20px;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          padding: 15px; }
          #clients-admin section .form form .form-control:focus, #invoices-admin section .form form .form-control:focus {
            border-color: #7a1f1f;
            background-color: #e9ecef;
            box-shadow: 0 0 0.2rem rgba(38, 143, 255, 0.25); }
        #clients-admin section .form form .form-label, #invoices-admin section .form form .form-label {
          font-weight: 500;
          margin-bottom: .5rem;
          display: flex;
          align-items: start; }
        #clients-admin section .form form .mb-3, #invoices-admin section .form form .mb-3 {
          margin-bottom: 1rem;
          width: 90%; }
    #clients-admin section .delete, #invoices-admin section .delete {
      width: 50%; }
      #clients-admin section .delete .header, #invoices-admin section .delete .header {
        padding: 15px 0px; }
      #clients-admin section .delete .button, #invoices-admin section .delete .button {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%; }
        #clients-admin section .delete .button button, #invoices-admin section .delete .button button {
          width: 50%; }

.pagination {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px 0px; }
  .pagination a {
    text-decoration: none; }
    .pagination a:hover {
      color: #720909 !important; }
  .pagination nav {
    display: flex;
    flex-direction: row; }
    .pagination nav .hidden p {
      display: none; }
    .pagination nav .hidden span {
      display: none;
      flex-direction: row; }

#home {
  min-height: 600px !important;
  display: flex;
  align-items: center; }
  #home section {
    margin: 0 auto;
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #home section .services {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem; }

/*# sourceMappingURL=app.css.map */
